body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    .app-container {
        position: relative;


        //////////////////////////
        //HEADER
        //////////////////////////
        .appheader-container {
            background-color: black;
            position: fixed;
            top: 0;
            left: 0;
            height: 12vh;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 99;

            #nav-logo {
                height: 70%;
            }
        }




        //////////////////////////
        //MAIN      
        //////////////////////////
        .main-container {
            margin-top: 12vh;
            color: black;


            .jumbotron {

                width: 100%;
                position: relative;
                display: flex;
                align-items: center;
                flex-direction: column;

                .jumbotron-img-container {

                    width: 100%;
                    height: 700px;
                    position: relative;
                    display: inline-block;
                    position: relative;

                    img {
                        position: relative;
                        background-size: cover;
                        width: 100%;
                        height: 100%;
                        z-index: 1;
                        vertical-align: top;
                        object-fit: cover;
                    }

                    .img-veiling {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: rgba(0, 0, 0, 0.8);
                        z-index: 2;
                    }
                }

                .jumbotron-description {

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 40px;
                    position: absolute;
                    top: 300px;
                    left: auto;
                    z-index: 3;
                    color: white;
                    margin: 0 30%;

                    h1 {
                        font-size: 70px;
                        font-weight: normal;
                        margin: 0;
                    }

                    p {
                        font-size: 27px;
                        text-align: center;
                        margin: 0;
                    }

                    button {
                        margin: 0;
                        padding: 10px 30px;
                        border-radius: 10px;
                        background-color: #eaca63;
                        color: black;
                        font-size: 20px;
                        border: none;
                    }
                }

            }

            .main-content-container {
                height: 300px
            }


        }






        //////////////////////////
        //FOOTER
        //////////////////////////
        .appfooter-container {
            background-color: black;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: white;
            padding-bottom: 100px;

            img {
                height: 40px;
                margin: 50px 0 80px;
            }

            #info-container {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                gap: 150px;

                #about-container {
                    width: 30%;

                    h2 {
                        margin: 0 0 30px;
                        font-size: 30px;
                    }

                }

                #links-container {
                    width: 30%;
                    display: flex;
                    justify-content: space-between;

                    #left-links {
                        display: flex;
                        flex-direction: column;

                        h2 {
                            margin: 0 0 30px;
                            font-size: 30px;
                        }

                        a {
                            margin-bottom: 20px;
                            color: white;
                            text-decoration: none;
                        }
                    }

                    #right-links {
                        display: flex;
                        flex-direction: column;
                        align-items: end;

                        #social-icons-container {
                            display: flex;
                            gap: 10px;
                            margin-bottom: 35px;

                            .social-icon {
                                background-color: white;
                                padding: 12px;
                                border-radius: 10px;
                                color: black;
                                font-size: 20px;
                            }
                        }

                        a {
                            margin-bottom: 20px;
                            color: white;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}